/* Form Styling */
form input,
form textarea {
  width: 100%;
  padding: 0.75em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-family: var(--font-body);
}

form button {
  margin-top: 1em;
  width: auto;
}
